.others{
	width: 100%;
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    
}
.others>a>div{
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 150px;
    height: 150px;
    background-color: #0074d9;

    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;

}
.others>a>img{
	width: 50px;
	height: 50px;
    
}

.others>a>div>#chun{
   text-transform: uppercase;
   text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 10px    !important;
}

